{% extends "base.html" %}

{% block extra_js %}
    <script>
        $(function () {
            var data = {
                labels: [
                    "Positive",
                    "Negative"
                ],
                datasets: [
                    {
                        backgroundColor: [
                            "#5cc85c",
                            "#e9534f"
                        ],
                        hoverBackgroundColor: [
                            "#5cd85c",
                            "#f9534f"
                        ]
                    }]
            };
            {% for entity in entities %}
                var ctx = $("#{{ entity.id }}");
                data.datasets[0].data = [{{ entity.pos }}, {{ entity.neg }}];
                new Chart(ctx, {
                    type: 'doughnut',
                    data: data
                });
            {% endfor %}
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if entities %}
                {% for entity in entities %}
                    <div class="col-lg-3" style="text-align: center">
                        <h2 style="min-height: 70px">{{ entity.name }}</h2>
                        <canvas id="{{ entity.id }}"></canvas>
                        <br>
                        <table class="table table-striped">
                            <tr>
                                <td>Positive</td>
                                <td>{{ entity.pos }}</td>
                                <td>{{ entity.pos_ratio }}%</td>
                            </tr>
                            <tr>
                                <td>Negative</td>
                                <td>{{ entity.neg }}</td>
                                <td>{{ entity.neg_ratio }}%</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>{{ entity.tot }}</td>
                                <td>100.0%</td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            {% else %}
                <p>No entities are available.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
